.search-container {
  width: 550px;
  max-width: 90%;
  margin: 30px auto;
  position: relative;
}

.search-container input {
  width: 100%;
  padding: 16px 22px;

  background: white;
  color: #2b1b17;

  border: 2px solid #d6c3b5;
  border-radius: 18px;

  font-size: 1.1rem;
  font-family: inherit;

  outline: none;

  transition: 0.3s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.search-container input:focus {
  border-color: #8b3a3a;
  box-shadow: 0 0 20px rgba(139, 58, 58, 0.15);
}

.search-results {
  display: none;

  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  left: 0;

  background: white;

  border: 1px solid #e3d5c8;
  border-radius: 18px;

  overflow: hidden;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);

  z-index: 1000;
}

.search-results a {
  display: block;

  padding: 15px 20px;

  color: #2b1b17;
  text-decoration: none;
  font-size: 1.05rem;

  transition: 0.25s;
}

.search-results a:not(:last-child) {
  border-bottom: 1px solid #f0e5db;
}

.search-results a:hover {
  background: linear-gradient(
    to left,
    #5b2323,
    #8b3a3a
  );

  color: white;

  padding-right: 28px;
}